$basic-light-blue: #61B3E7;
$basic-deep-blue: #4262FF;
$basic-white: #FFF;
$basic-black: #000;

$hover-light-blue: #3fa7e8;

$grey-1: #484848;
$grey-2: #686868;
$grey-3: #828282;
$grey-4: #A0A0A0;
$grey-5: #BDBDBD;
$grey-6: #E0E0E0;
$grey-7: #F1F1F1;
$grey-8: #FBFBFB;

